@model Infraestructure.Models.EXTRA

@{
    ViewBag.Title = "Editar Registros";
}

<br />
<br />
<br />
<h2 class="text-center">Editar Extras</h2>

@using (Html.BeginForm("Save", "Extra", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            <div class="col-md-10">
                Disponible @Html.RadioButtonFor(model => model.Estado, true)
                No disponible @Html.RadioButtonFor(model => model.Estado, false)
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar cambios" class="btn btn-success" />
        </div>
    </div>
</div>
}


<div class="text-center">
    <a href="@Url.Action("Extras", "Extra")" class="btn btn-primary text-center" data-toggle="tooltip" data-placement="bottom" title="Volver">
        <i class="fas fa-arrow-left"></i> Volver al listado
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
