@model Infraestructure.Models.DEPARTAMENTO

@{ ViewBag.title = "Detalle"; }

<br />
<br />
<br />
<br />
<section class="container">
    <table align="center">
        <tr>
            <th id="containerimg">
                <h2>@Html.DisplayFor(model => model.Nombre)</h2>
                <img class="img-responsive" id="img" src="@Html.DisplayFor(model => model.Imagen)" width="500px" height="400px" />
            </th>
            <th class="detail">
                <p class="text-justify m-3">
                    <center>
                        @Html.DisplayFor(model => model.Descripcion)
                        <br />
                        <strong>Disponibilidad: </strong>
                        @if (Model.Estado == true)
                        {
                        <strong class="text-success">Disponible</strong> }
                         else
                         {
                        <strong class="text-danger">No disponible</strong>}
                        <br />
                        <strong>Ubicación: </strong>
                        @Html.DisplayFor(model => model.UBICACION.Nombre)
                        <br />
                        <strong>Extras: </strong>
                        <ul>
                            @foreach (var ext in Model.EXTRA)
                            {
                                <li class="text-left">@ext.Descripcion</li>
                            }

                        </ul>
                        <br />
                        <strong>Tarifa: </strong>
                        <p class="text-danger">
                            $@Html.DisplayFor(model => model.Tarifa)
                        </p>
                        <br />

                    </p>
                    </center>
                    
            </th>
        </tr>
    </table>
    
</section>
<div class="text-center m-0">
    <br />
    <br />
    <a href="Index" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Volver">
        <i class="fas fa-arrow-left"></i> Volver al Inicio
    </a>

</div>