@model Infraestructure.Models.RESERVA

@{
    ViewBag.Title = "Reservar";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<br />
<br />
<br />
<br />
<br />
<h2>Reservar Departamento</h2>
<hr />

@using (Html.BeginForm("Save", "Reserva", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <!--Linea 1-->

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.FechaReserva, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.FechaReserva, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FechaReserva, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.FechaFinReserva, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.FechaFinReserva, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FechaFinReserva, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>

        <!--Linea 2-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.CantPersonas, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.CantPersonas, new { htmlAttributes = new { @class = "form-control", @min = "1", @max = "6" } })
                        @Html.ValidationMessageFor(model => model.CantPersonas, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.SERVICIOS, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        @using (Ajax.BeginForm("seleccionServicios", "Reserva",
                    new AjaxOptions
                    {
                        UpdateTargetId = "resultado",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "GET",
                        LoadingElementId = "ajaxLoader"

                    }))
                        {
                            @Html.DropDownList("selectedServicios", (MultiSelectList)ViewBag.IdServicios, new { htmlAttributes = new { @class = "form-control" }, multiple = "multiple" })
                            @Html.ValidationMessageFor(model => model.SERVICIOS, "", new { @class = "text-danger" })
                        }


                    </div>

                </div>
            </div>
        </div>
        <p>

        </p>

        <!--Linea 3-->
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.IdTipoPago, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        @*@Html.DropDownListFor(model => model.IdTipoPago, (SelectList)ViewBag.TipoPago, "Seleccione el tipo de pago", htmlAttributes: new { @id = "Selection", @class = "form-control col-md-3 tipoPago" })*@
                        <span class="radio">Efectivo</span> @Html.RadioButtonFor(model => model.IdTipoPago, 1, htmlAttributes: new { @id = "pago1" })
                        <span class="radio">Tarjeta de Credito</span> @Html.RadioButtonFor(model => model.IdTipoPago, 2, htmlAttributes: new { @id = "pago2" })
                        @Html.ValidationMessageFor(model => model.IdTipoPago, "", new { @class = "text-danger" })

                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group" id="numeroTarjeta">
                    @Html.LabelFor(model => model.NumeroTarjeta, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.NumeroTarjeta, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NumeroTarjeta, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>

        <hr />
        <div id="resultadoDetalle">
            @if (Web.Views.ViewModel.Carrito.Instancia.Items.Count() > 0)
            {
                @Html.Partial("~/Views/Reserva/_DetalleReserva.cshtml", (List<Web.Views.ViewModel.viewModelReservaDetalle>)ViewBag.DetalleReserva)
            }
            else
            {

                <div class="alert alert-warning" role="alert">
                    <strong>Atención!</strong> No tiene reservaciones
                </div>
            }

        </div>
        <hr />
        <div class="container" align="center">
            <button type="submit" class="btn btn-success" id="btnReservar">
                Confirmar Reservaciones
            </button>
        </div>


    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")
    <link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(function () {
            $('.listbox').multiselect({
                includeSelectAllOption: true
            });
        });


        $(document).ready(function () {

            var tarjeta = $('#numeroTarjeta');
            tarjeta.hide();
            $('#pago1').click(function () {
                tarjeta.css('display', 'none');
            });

            $('#pago2').click(function () {
                tarjeta.css('display', 'block');
            });

        });

    </script>

}
