<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="author" content="Bryan Elizondo Mora" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - SR-Departments</title>
    <link rel="icon" href="~/img/logo.png" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/main.css")
    @Styles.Render("~/Content/Login.css")


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-dark text-white">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand p-0 navbar-titulo awsomeNav" href="@Url.Action("Index", "Login", null)" data-toggle="tooltip" data-placement="bottom" title="Entrar">
                SR-Departments

            </a>
        </div>
    
    </nav>
    <main>

        <div class="container">
            <center>
                @RenderBody()
            </center>
            
        </div>
    </main>
    <hr />
    <footer class="fixed-bottom bg-dark p-1 text-center labels">
        <p class="m-0">&copy; @DateTime.Now.Year - SR-Departments</p><br />
        <p class="m-0">Diseño por Bryan Elizondo</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/popper")

    @Scripts.Render("~/bundles/jqueryui")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sweetalert")

    @RenderSection("scripts", required: false)
    @if (ViewBag.NotificationMessage != null)
    {
        <script>
            @Html.Raw(@ViewBag.NotificationMessage);
        </script>
    }
</body>
</html>
