<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-dark text-white">
        <a class="navbar-brand">RS - DEPARTMENTS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">


                <li class="nav-item">
                    @Html.ActionLink("Login", "Index", "Login", null, new { @class = "nav-link" })

                </li>

            </ul>
        </div>
    </nav>
    <main>

        <div class="container">

            @RenderBody()
        </div>
    </main>
    <hr />
    <footer class="fixed-bottom bg-dark p-1 text-center">
        <p class="m-0">&copy; @DateTime.Now.Year - RS-Departments</p><br />
        <p class="m-0">Diseño por Bryan Elizondo</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/popper")

    @Scripts.Render("~/bundles/jqueryui")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sweetalert")

    @RenderSection("scripts", required: false)
    @if (ViewBag.NotificationMessage != null)
    {
        <script>
            @Html.Raw(@ViewBag.NotificationMessage);
        </script>
    }
</body>
</html>
