@model IEnumerable<Infraestructure.Models.UBICACION>

@{
    ViewBag.Title = "Ubicaciones";
}
<br />
<br />
<br />

<h2>Ubicaciones</h2>

<p>
    <a href="@Url.Action("Create", "Ubicacion")" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Crear Registro">
        <i class="fas fa-plus-circle awsomeNav"></i>
        <strong>Nuevo Registro</strong>
    </a>
</p>
<table class="table table-bordered tablelist table-responsive text-center" align="center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th class="text-center">
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @if (item.Estado)
                {
                    <p class="text-success"><strong>Disponible</strong></p>
                }
                else
                {
                    <p class="text-danger"><strong>No Disponible</strong></p>
                }
            </td>
            <td align="center">
                <a href="@Url.Action("Edit", "Ubicacion", new { id = item.Id })" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Editar">
                    <i class="fas fa-edit"></i>  Editar
                </a>

                <a href="@Url.Action("Details", "Ubicacion", new { id = item.Id })" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Ver Detalles">
                    <i class="fas fa-info-circle"></i>  Detalles
                </a>

                <a href="@Url.Action("Eliminar", "Delete", new { id = item.Id })" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Descartar Registro">
                    <i class="fas fa-trash-alt"></i>  Descartar
                </a>
            </td>
        </tr>
    }

</table>
